.card-img-top {
    width: 75%;
    max-width: 400px;
}

.card {
    margin: auto;
    width: fit-content;
    max-width: 800px;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 700px;
    padding: 10px;
}


h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toggle {
    margin: auto;
    width: fit-content;
}

.toggle-label {
    margin-right: 10px;
}

.toggle-check {
    zoom: 3;
}

.icon {
    width: 40px;
    border-radius: 8px;
}

.btn-text {
    text-decoration: none;
    color: white;
}

.btn {
    margin: 20px;
    float: right;
}

#tracker-save-button {
    position: fixed;
    top: 60px;
    right: 5px;
    width: fit-content;
    text-align: center;
    z-index: 5;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px 3px 3px gray;
}

.inline {
    display: inline
}

.alert-div {
    position: fixed;
    top: 130px;
    right: 25px;
    text-align: center;
    z-index: 5;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
}

.successful-alert {
    background-color: #99e0b9;
}

.page-header-bar {
    background-color: #200859;
    display: inline-block;
    width: 100%;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.page-header-pc-name {
    font-style: italic;
    font-size: large;
    padding: 10px 0;
}

.page-header-page-name {
    font-size: xx-large;
}

.card-set-horizontal {
    margin: auto;
}

.ability-card {
    margin: auto;
    width: 350px;
}

.ability-card-header {
    font-size: x-large;
    font-weight: bold;
    color: #200859;
}

.ability-card-sub-header {
    font-size: large;
}

.ability-scores {
    width: fit-content;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    float: left;
}

.ability-proficiencies {
    width: fit-content;
    float: right;
}

.number-input {
    zoom: 2;
    text-align: center;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: fit-content;
    margin: auto;
}

.hp-total {
    font-size: xx-large;
}

.text-link {
    text-decoration: none;
    color: #200859;
    width: fit-content;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

/* Login Form */
.login-form {
    width: fit-content;
    margin: auto;
}

.form-label, .form-input {
    margin: 10px;
    padding: 10px;
}

.form-label {
    text-align: right;
    width: 200px;
    font-weight: bold;
}

.form-input {
    width: 300px;
    text-align: left;
    border: 1px solid darkgray;
    border-radius: 10px;
}

#login-submit-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.update-form-field {
    width: fit-content;
    margin: auto;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.long-text-input {
    width: 500px;
}