/** Variables **/
:root {
    --dark-purple: #200859;
    --darker-purple: #16053e;
    --light-text: white;
    --success-light: lightgreen;
    --success-dark: green;
    --near-black: #2f2c33;
    --near-white: #f9f5f5;
}

.card-img-top {
    width: 75%;
    max-width: 400px;
}

.card {
    margin: auto;
    width: fit-content;
    max-width: 800px;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 700px;
    padding: 10px;
}


h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toggle {
    margin: auto;
    width: fit-content;
}

.toggle-label {
    margin-right: 10px;
}

.toggle-check input {
    width: 2em;
    height: 2em;
    outline: 1px solid var(--near-black);
}

.icon {
    width: 40px;
    border-radius: 8px;
}

.btn-text {
    text-decoration: none;
    color: var(--light-text);
    max-width: 50px;
}

.btn {
    margin: 20px;
}

.inline {
    display: inline
}

.center {
    margin: auto;
    text-align: center;
}

.float-right {
    float: right;
}

.alert-div {
    position: fixed;
    text-align: center;
    z-index: 5;
    width: 100%;
    padding: 20px;
    top: 0px;
}

.successful-alert {
    background-color: var(--success-light);
}

.welcome {
    background-color: var(--darker-purple);
    width: 100%;
}

.page-header-bar {
    background-color: var(--dark-purple);
    display: inline-block;
    width: 100%;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pc-select {
    width: fit-content;
    background-color: var(--darker-purple);
    border: 2px solid var(--near-black);
    border-radius: 5px;
    box-shadow: 1px 1px black;
}

.pc-show-collapse-bar {
    display: flex;
    font-style: italic;
    font-size: large;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.pc-show-collapse-bar p {
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.pc-show-collapse-bar Button {
    display: inline-block;
    margin: 5px;
    font-style: italic;
}

.pc-list {
    width: 100%;
    border-top: none;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.pc-list-item Button, .pc-list-item-center Button {
    width: 100%;
    display: inline-block;
    margin: 1px;
    border-radius: 5px;
}

.pc-list-item Button {
    text-align: right;
}

.pc-list-item-add Button {
    margin-top: 10px;
}

.pc-list-item-center Button {
    text-align: center;
}

.divider {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid var(--near-black);
}

.page-header-page-name {
    font-size: xx-large;
}

.card-set-horizontal {
    margin: auto;
}

.ability-card {
    margin: auto;
    width: 350px;
}

.ability-card-header {
    font-size: x-large;
    font-weight: bold;
    color: var(--dark-purple);
}

.ability-card-sub-header {
    font-size: large;
}

.ability-scores {
    width: fit-content;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    float: left;
}

.ability-proficiencies {
    width: fit-content;
    float: right;
}

.number-input {
    zoom: 2;
    text-align: center;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: fit-content;
    margin: auto;
}

.hp-total {
    font-size: xx-large;
}

.text-link {
    text-decoration: none;
    color: var(--dark-purple);
    width: fit-content;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

/* Login Form */
.login-form {
    width: fit-content;
    margin: auto;
}

.form-label, .form-input {
    margin: 10px;
    padding: 10px;
}

.form-label {
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.form-input {
    width: 100%;
    text-align: left;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 10px;
}

.login-form Button {
    width: 100%;
    margin: auto;
}

.update-form-field {
    width: 100%;
    margin: auto;
}

.update-form-label {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    width: fit-content;
    font-weight: bold;
    display: block;
    text-align: left;
}

.update-form-input {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
    padding: 5px;
    width: 300px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid darkgray;
    display: block;
}

.update-form-description {
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    font-style: italic;
}

.update-form-conditional {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    padding: 5px;
    display: block;
    text-align: left;
}

.update-form-conditional p {
    font-weight: bold;
    margin-bottom: 0px;
}

.update-form-conditional label {
    display: inline-block;
    margin-right: 5px;
}

.update-form-conditional input {
    display: inline-block;
    margin-left: 5px;
}

.update-form-section-header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: var(--dark-purple);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px lightgray;
}

.update-form-header {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    background-color: var(--dark-purple);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.update-form-header-title {
    padding-top: 20px;
}

.expand-collapse-btn {
    width: 80%;
}

.update-form-submit-btn {
    margin: 30px;
    background-color: #0ecaf0;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.update-form-submit-btn:hover {
    background-color: #4ed4ef;
}

.form-radio-input {
    margin-right: 0px;
}

.form-radio-label {
    text-align: left;
    margin: 5px;
}

.form-lock {
    width: 100%;
    display: inline-block;
}

.update-pc-form {
    width: 100%;
}

.navbar-home {
    color: white;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

.nav-item {
    white-space: nowrap;
}

.navbar-text {
    display: flex;
    height: fit-content;
}

.navbar-text p {
    margin-top: 25px;
}

.pop-up {
    background-color: var(--success-light);
    border: 4px solid var(--success-dark);
    padding: 15px;
    text-align: center;
}

.confirm-delete {
    position: fixed;
    width: fit-content;
    min-width: 500px;
    margin: auto;
    text-align: center;
    border: 1px solid red;
    z-index: 10;
}

.div-button {
    display: inline-block;
    width: 100%;
}

.button-menu {
    width: fit-content;
    text-align: center;
    margin: auto;
}

.button-menu p, .button-menu Button {
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.title-button-row {
    width: 100%;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    display: block;
}

.title-button-row-bg-dark {
    background-color: lightgray;
}

.title-button-row h3, p {
    margin: 0px;
    padding: 3px;
    text-align: left;
}

.title-button-row Button {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.form-sub-heading {
    text-align: left;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.form-sub-heading-2 {
    text-align: left;
    margin: auto;
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.skill-prof {
    text-align: left;
    padding: 5px;
}

.skill-prof p {
    margin-top: 15px;
    margin-bottom: 0px;
}

.skill-prof-item {
    padding: 5px;
}

.skill-prof label {
    margin-left: 10px;
    margin-top: 10px;
}

.skill-prof input {
    border: 1px solid darkgray;
    zoom: 2;
}

.content {
    margin-left: 10px;
    margin-right: 10px;
}

.main-body {
    margin-bottom: 180px;
}

.quick-nav-bar {
    background-color: darkgray;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    height: 100px;
}

.quick-nav-item:hover {
    cursor: pointer;
}

.quick-nav-item a {
    text-decoration: none;
}

.quick-nav-item-button {
    max-width: 85px;
    height: 65px;
    line-height: 65px;
    background-color: var(--dark-purple);
    box-shadow: 2px 2px 0px var(--near-black);
    border-radius: 5px;
    padding: 3px;
}

.quick-nav-item-button:hover {
    background-color: var(--darker-purple);
}

.quick-nav-item-button p {
    text-align: center;
    color: var(--near-white);
    font-size: medium;
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
}

.tracker-save-button {
    position: fixed;
    bottom: 100px;
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    z-index: 10;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--success-light);
    border: 3px solid var(--success-dark);
    border-bottom: none;
    color: var(--success-dark);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.populated-field {
    font-style: italic;
}

.refresh {
    background-color: var(--near-white);
    border-radius: 10px;
    margin-top: 10px;
}

.refresh-row {
    width: fit-content;
}

.refresh-col {
    height: 50px;
}

.short-div {
    height: 20px;
    padding-top: 3px;
    text-align: center;
    color: #4f4e4e;
}

.refresh-icon {
    width: 40px;
    border-radius: 10px;
    margin-top: 4px;
}

.section-header {
    background-color: var(--dark-purple);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    padding: 10px;
}

.no-padding {
    padding: 0px;
}

.back-submit-row Button {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
}

.hp {
    max-width: 400px;
}

.hp button, .gold button {
    margin: 5px;
    width: 90%;
}

.hp-col {
    margin: 0px;
    padding: 0px;
}

.hp-display {
    font-weight: bold;
    font-size: 1.6em;
    margin: 10px;
    margin-top: 36px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border: 3px solid gray;
    border-radius: 15px;
    color: var(--near-black);
}

.hp-display-full {
    background-color: #67e03f;
    color: #202b1c;
    border-color: #6bff3b;
    box-shadow: 0px 0px 3px 3px #6bff3b;
}

.hp-display-high {
    background-color: #b5e03f;
    border-color: #82a327;
    box-shadow: 0px 0px 2px 2px #82a327;
    color: darkgreen;
}

.hp-display-med-high {
    background-color: #fcd14e;
    color: #38281d;
    border-color: #d6a309;
    box-shadow: 0px 0px 2px 2px #d6a309;
}

.hp-display-med-low {
    background-color: #e3ab42;
    color: #38281d;
    border-color: #b37d19;
    box-shadow: 0px 0px 2px 2px #b37d19;
}

.hp-display-low {
    background-color: #e05c34;
    color: #38281d;
    border-color: #70240c;
    box-shadow: 0px 0px 4px 4px #70240c;
}

.hp-display-min {
    background-color: #e00232;
    color: white;
    border-color: #ff0037;
    box-shadow: 0px 0px 10px 10px #ff0037;
}

.hp-display-dying {
    background-color: #e00232;
    color: black;
    border-color: black;
    box-shadow: 0px 0px 14px 14px var(--near-black);
}

.gold-display {
    font-weight: bold;
    font-size: 1.6em;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border: 3px solid #e6c120;
    border-radius: 15px;
    background-color: #ebcb42;
    box-shadow: 0px 0px 2px 2px #e6c120;
    color: var(--near-black);
}

.gold-display-none {
    border-color: gray;
    background-color: lightgray;
    box-shadow: none;
}

.gold-modal-txt {
    width: 100%;
    margin-bottom: 10px;
    font-style: italic;
}

.modal-button-wide button {
    width: 100%;
}

.large-number-input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: xx-large;
    text-align: center;
}