/** Variables **/
:root {
    --dark-purple: #200859;
    --darker-purple: #16053e;
    --light-text: white;
    --success-light: lightgreen;
    --success-dark: green;
    --near-black: #2f2c33;
    --near-white: #f9f5f5;
    --dark-gray: #666666;
    --very-light-gray: #f0eeed;
    --inspiration-pink: #d68ff2;
    --light-purple: #cec7d6;
}

.card {
    margin: auto;
    width: fit-content;
    max-width: 800px;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 700px;
    padding: 10px;
}


h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toggle {
    margin: auto;
    width: fit-content;
}

.toggle-label {
    margin-right: 10px;
}

.toggle-check input {
    width: 2em;
    height: 2em;
    outline: 1px solid var(--near-black);
}

.icon {
    width: 40px;
    border-radius: 8px;
}

.btn-text {
    text-decoration: none;
    color: var(--light-text);
    max-width: 50px;
}

.btn {
    margin: 20px;
}

.alert-div {
    position: fixed;
    text-align: center;
    z-index: 5;
    width: 100%;
    padding: 20px;
    top: 0px;
}

.successful-alert {
    background-color: var(--success-light);
}

.welcome {
    background-color: var(--darker-purple);
    width: 100%;
}

.page-header-bar {
    background-color: var(--dark-purple);
    display: inline-block;
    width: 100%;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pc-select {
    width: fit-content;
    background-color: var(--darker-purple);
    border: 2px solid var(--near-black);
    border-radius: 5px;
    box-shadow: 1px 1px black;
}

.pc-show-collapse-bar {
    display: flex;
    font-style: italic;
    font-size: large;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.pc-show-collapse-bar p {
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.pc-show-collapse-bar Button {
    display: inline-block;
    margin: 5px;
    font-style: italic;
}

.pc-list {
    width: 100%;
    border-top: none;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
}

.pc-list-item Button, .pc-list-item-center Button {
    width: 100%;
    display: inline-block;
    margin: 1px;
    border-radius: 5px;
}

.pc-list-item Button {
    text-align: right;
}

.pc-list-item-add Button {
    margin-top: 10px;
}

.pc-list-item-center Button {
    text-align: center;
}

.divider {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid var(--near-black);
}

.page-header-page-name {
    font-size: xx-large;
}

.card-set-horizontal {
    margin: auto;
}

.ability-card {
    margin: auto;
    width: 350px;
}

.ability-card-header {
    font-size: x-large;
    font-weight: bold;
    color: var(--dark-purple);
}

.ability-card-sub-header {
    font-size: large;
}

.ability-scores {
    width: fit-content;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    float: left;
}

.ability-proficiencies {
    width: fit-content;
    float: right;
}

.number-input {
    zoom: 2;
    text-align: center;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: fit-content;
    margin: auto;
}

.hp-total {
    font-size: xx-large;
}

.text-link {
    text-decoration: none;
    color: var(--dark-purple);
}

.text-link:hover {
    cursor: pointer; 
}

/* Login Form */
.login-form {
    width: fit-content;
    margin: auto;
}

.form-label, .form-input {
    margin: 10px;
    padding: 10px;
}

.form-label {
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.form-input {
    width: 100%;
    text-align: left;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 0px;
    margin-bottom: 10px;
}

.login-form Button {
    width: 100%;
    margin: auto;
}

.update-form-field {
    width: 100%;
    margin: auto;
}

.update-form-field-group {
    background-color: var(--near-white);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.disabled {
    background-color: lightgray;
}

.disabled p {
    color: gray;
}

.update-form-label {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    width: fit-content;
    font-weight: bold;
    display: block;
    text-align: left;
}

.update-form-input {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
    padding: 5px;
    width: 300px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid darkgray;
    display: block;
}

.update-form-input-wide {
    width: 100%;
}

.update-form-input-narrow {
    width: fit-content;
}

.update-form-description {
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    font-style: italic;
}

.update-form-conditional {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    padding: 5px;
    display: block;
    text-align: left;
}

.update-form-conditional p {
    font-weight: bold;
    margin-bottom: 0px;
}

.update-form-conditional label {
    display: inline-block;
    margin-right: 5px;
}

.update-form-conditional input {
    display: inline-block;
    margin-left: 5px;
}

.update-form-section-header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: var(--dark-purple);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px lightgray;
}

.update-form-header {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    background-color: var(--dark-purple);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.update-form-header-title {
    padding-top: 20px;
}

.form-section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-sub-section {
    padding-left: 15px;
}

.expand-collapse-btn {
    width: 80%;
}

.update-form-submit-btn {
    margin: 30px;
    background-color: #0ecaf0;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.update-form-submit-btn:hover {
    background-color: #4ed4ef;
}

.form-radio-input {
    margin-right: 0px;
}

.form-radio-label {
    text-align: left;
    margin: 5px;
}

.form-lock {
    width: 100%;
    display: inline-block;
}

.update-pc-form {
    width: 100%;
}

.navbar-home {
    color: white;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

.nav-item {
    white-space: nowrap;
}

.navbar-text {
    display: flex;
    height: fit-content;
}

.navbar-text p {
    margin-top: 25px;
}

.pop-up {
    background-color: var(--success-light);
    border: 4px solid var(--success-dark);
    padding: 15px;
    text-align: center;
}

.confirm-delete {
    position: fixed;
    width: fit-content;
    min-width: 500px;
    margin: auto;
    text-align: center;
    border: 1px solid red;
    z-index: 10;
}

.div-button {
    display: inline-block;
    width: 100%;
}

.button-menu {
    width: fit-content;
    text-align: center;
    margin: auto;
}

.button-menu p, .button-menu Button {
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.title-button-row {
    width: 100%;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;
}

.title-button-row-bg-dark {
    background-color: lightgray;
}

.title-button-row h3, p {
    margin: 0px;
    padding: 3px;
    text-align: left;
}

.title-button-row-center {
    text-align: center;
}

.title-button-row Button {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.form-sub-heading {
    text-align: left;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.form-sub-heading-2 {
    text-align: left;
    margin: auto;
    width: 100%;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.skill-prof {
    text-align: left;
    padding: 5px;
}

.skill-prof p {
    margin-top: 15px;
    margin-bottom: 0px;
}

.skill-prof-item {
    padding: 5px;
}

.skill-prof label {
    margin-left: 10px;
    margin-top: 10px;
}

.skill-prof input {
    border: 1px solid darkgray;
    zoom: 2;
}

.content {
    margin-left: 10px;
    margin-right: 10px;
}

.main-body {
    min-height: 100%;
    margin-bottom: 100px;
}

.main-body-short {
    min-height: 700px;
}

.quick-nav-bar {
    background-color: darkgray;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    height: 100px;
}

.quick-nav-item:hover {
    cursor: pointer;
}

.quick-nav-item a {
    text-decoration: none;
}

.quick-nav-item-button {
    max-width: 85px;
    height: 65px;
    line-height: 65px;
    background-color: var(--dark-purple);
    box-shadow: 2px 2px 0px var(--near-black);
    border-radius: 5px;
    padding: 3px;
}

.quick-nav-item-button:hover {
    background-color: var(--darker-purple);
}

.quick-nav-item-button p {
    text-align: center;
    color: var(--near-white);
    font-size: medium;
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
}

.tracker-save-button {
    position: fixed;
    bottom: 100px;
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    z-index: 10;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--success-light);
    border: 3px solid var(--success-dark);
    border-bottom: none;
    color: var(--success-dark);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.prepare-spells-button-display {
    padding-top: 5px;
    background-color: var(--light-purple);
    margin-top: 0px;
    margin-bottom: 10px;
}

.populated-field {
    font-style: italic;
}

.refresh {
    background-color: var(--near-white);
    border-radius: 10px;
    margin-top: 10px;
}

.refresh-row {
    width: fit-content;
}

.refresh-col {
    height: 50px;
}

.short-div {
    height: 20px;
    padding-top: 3px;
    text-align: center;
    color: #4f4e4e;
}

.refresh-icon {
    width: 30px;
    border-radius: 5px;
}

.section-header {
    background-color: var(--dark-purple);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    padding: 10px;
}

.back-submit-row Button {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
}

.hp {
    max-width: 400px;
}

.hp button, .gold button {
    margin: 5px;
    width: 90%;
}

.hp-col {
    margin: 0px;
    padding: 0px;
}

.hp-display {
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 36px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border: 3px solid gray;
    border-radius: 15px;
    color: var(--near-black);
}

.hp-display-full {
    background-color: #67e03f;
    color: #202b1c;
    border-color: #6bff3b;
    box-shadow: 0px 0px 3px 3px #6bff3b;
}

.hp-display-high {
    background-color: #b5e03f;
    border-color: #82a327;
    box-shadow: 0px 0px 2px 2px #82a327;
    color: darkgreen;
}

.hp-display-med-high {
    background-color: #fcd14e;
    color: #38281d;
    border-color: #d6a309;
    box-shadow: 0px 0px 2px 2px #d6a309;
}

.hp-display-med-low {
    background-color: #e3ab42;
    color: #38281d;
    border-color: #b37d19;
    box-shadow: 0px 0px 2px 2px #b37d19;
}

.hp-display-low {
    background-color: #e05c34;
    color: #38281d;
    border-color: #70240c;
    box-shadow: 0px 0px 4px 4px #70240c;
}

.hp-display-min {
    background-color: #e00232;
    color: white;
    border-color: #ff0037;
    box-shadow: 0px 0px 10px 10px #ff0037;
}

.hp-display-dying {
    background-color: #e00232;
    color: black;
    border-color: black;
    box-shadow: 0px 0px 14px 14px var(--near-black);
}

.hp-display-temp {
    margin-top: 10px;
}

.number-display {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hp-display-temp-number {
    border-radius: 5px;
    background-color: #ebcb42;
}

.modal-button-wide button {
    width: 100%;
}

.large-number-input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: xx-large;
    text-align: center;
}

.popover {
    padding: 10px;
}

.left-justify {
    text-align: left;
}

.right-justify {
    text-align: right;
}

.center-table {
    margin: auto;
    width: 100%;
}

.center-button {
    margin: auto;
    width: fit-content;
}

.display-item-row {
    background-color: var(--near-white);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.prepare-section {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.weapon-equipped {
    border: 2px solid var(--dark-purple);
    border-radius: 5px;
    padding: 5px;
}

.popover-main-content {
    padding-left: 5px;
    padding-right: 5px;
    color: var(--dark-purple);
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.about-footer {
    padding: 3em;
    color: var(--near-white);
    margin-top: 25px;
    display: flex;
    min-height: 25vh;
    flex-direction: column;
    justify-content: space-between;
}

.about-footer a {
    text-decoration: none;
    color: var(--near-white);
}

.about-footer a:hover {
    text-decoration: underline;
}

.padding-20 {
    padding: 20px;
    margin: auto;
}

.dark-purple {
    color: var(--dark-purple);
}

.spell-display {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.spell-display-header {
    background-color: lightgray;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 10px;
    padding: 6px;
}

.spell-display-header-col h3 {
    padding-top: 4px;
}

.spell-display-header-col-right {
    padding-right: 0px !important;
}

.spell-display p {
    margin: 10px;
}

.spell-display-item {
    border-bottom: 1px solid gray;
    width: 100%;
}

.spell-slot-count {
    margin: 0px;
    padding-right: 0px;
}

.no-slots {
    color: red;
}

.cast-button-col {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.cast-button {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.invisible-btn {
    border: none;
    background-color: unset;
    padding: 0px !important;
    text-align: left;
}

.disabled-check-input {
    color: gray;
}

.version-table {
    border: 1px solid lightgray;
    max-height: 500px;
    overflow: scroll;
}

.version-table p {
    margin-bottom: 5px;
}

.release-notes-header {
    background-color: lightgray;
}

.release-notes-row {
    border-top: 1px solid lightgray;
}

.release-notes-row, .release-notes-header {
    padding: 5px;
}

.btn-insp {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.insp-display {
    font-weight: bold;
    font-size: 1.6em;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border: 3px solid pink;
    border-radius: 15px;
    background-color: var(--inspiration-pink);
    box-shadow: 0px 0px 2px 2px #fcb1fc;
    color: var(--near-black);
}

.gold-display {
    font-weight: bold;
    font-size: 1.6em;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border: 3px solid #e6c120;
    border-radius: 15px;
    background-color: #ebcb42;
    box-shadow: 0px 0px 2px 2px #e6c120;
    color: var(--near-black);
}

.gold-display-none, .insp-display-none {
    border-color: gray;
    background-color: lightgray;
    box-shadow: none;
}

.gold-modal-txt {
    width: 100%;
    margin-bottom: 10px;
    font-style: italic;
}

.btn-insp-pink {
    background-color: #d68ff2 !important;
    box-shadow: 0px 0px 2px 2px #fcb1fc;
    border: 3px solid pink;
}

.no-margin {
    margin: 0px !important;
}

.small-margin {
    margin: 3px;
}

.large-top-margin {
    margin-top: 40px;
}

.overview-top {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid var(--near-black);
    border-top: 1px solid var(--near-black);
}

.card-text {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.bottom-border {
    border-bottom: 1px solid var(--near-black);
}

.bg-purple {
    background-color: var(--dark-purple);
    color: white;
}

.container-rest {
    margin-top: 25px;
}

.container-rest img {
    display: inline;
    margin-right: 10px;
}

.btn-rest {
    width: 100%;
    margin: auto;
    border: 3px solid purple !important;
    box-shadow: 0 0 3px 3px pink;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.btn-rest h5 {
    margin-top: 3px;
}

.card-no-outline {
    border: none !important;
}

.no-refresh-text, .no-refresh-msg {
    color: var(--dark-gray);
    font-style: italic;
}

.no-padding {
    padding: 0px;
}

.small-padding {
    padding: 5px !important;
}

.spell-display-custom-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.summonable {
    z-index: 100;
    margin-top: 10px;
    position: fixed;
}

.drawer-body {
    background-color: white;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 2px 2px lightgray;
}

.drawer-handle {
    position: fixed;
    bottom: 101px;
    z-index: 100;
    background-color: white;
    height: 60px;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.summonable-title-row {
    margin-bottom: 10px;
}

.summonable-bottom-btn-container {
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.summonable-bottom-btn-container button {
    margin: 0px;
    width: 100%;
}

.summonable-content {
    padding-top: 10px;
    width: 100vw;
    max-width: 500px;
    max-height: 97vh;
    max-height: 97dvh;
    overflow: scroll;
}

.mini-stat-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mini-stat-block p {
    text-align: center;
}

.stat-block-item {
    width: 4.8em;
    display: inline-block;
    border: 1px solid lightgray;
}

.stat-block-item-title {
    background-color: lightgray;
}

.drawer-handle-btn {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    padding: 0px !important;
}

.collapse-icon {
    font-size: x-large;
}

.collapse-btn {
    text-align: right;
    padding: 0px !important;
}

.collapse-btn button {
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0px;
    :hover {
        color: gray;
    }
}

.collapse-btn-bottom button {
    margin-bottom: 10px;
}

.handle-inline {
    background-color: gray !important;
    margin: 0px;
    height: 100%;
    width: 100%;
    border-radius: 0px !important;
    border: 2px solid var(--dark-gray) !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.summonable-title {
    margin-left: auto !important;
    margin-right: auto !important;
    display: inline;
}

.summonable-title-header, .summonable-title-header-bottom {
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 0px;
}

.summonable-title-header-flat-bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.summonable-title-header {
    background-color: var(--dark-purple);
}

.summonable-subtitle {
    background-color: lightgray;
    padding: 5px;
    padding-left: 10px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0px;
}

.summonable-stat {
    background-color: var(--near-white);
    border: 1px solid gray;
    border-radius: 5px;
    width: fit-content;
}

.summonable-attack {
    width: 100%;
    border: 1px solid gray;
    text-align: left;
}

.summonable-attack-form {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.summonable-attack-name {
    font-weight: bold;
    color: var(--dark-purple);
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline;
}

.summonable-attack-content {
    display: inline;
    width: fit-content;
}

.overlay-backdrop {
    width: 100vw;
    height: 100vh;
    background-color: var(--near-black);
    z-index: 50;
    position: fixed;
    opacity: .5;
}

.tracker-body-disable-scroll {
    overflow: hidden;
    height: 100vh;
}

.text-editor {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}

.ProseMirror {
    min-height: 50px;
    border-radius: 10px;
    border: 1px solid darkgray;
    margin: 10px;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.long-text-display, .ProseMirror {
    overflow: scroll;
    max-height: 500px;
}

.no-overflow {
    overflow: unset;
    max-height: unset;
}

.long-text-display h4, .ProseMirror h4 {
    text-align: left;
    padding-left: 2px;
}

.long-text-display ul li p, .long-text-display ol li p, .ProseMirror ul li p, .ProseMirror ol li p {
    margin-bottom: 0px;
}

.long-text-display::-webkit-scrollbar, .ProseMirror::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
.long-text-display::-webkit-scrollbar-thumb, .ProseMirror::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.bubble-menu {
    background-color: var(--near-white);
    border: 1px solid var(--very-light-gray);
    border-radius: 0.7rem;
    box-shadow: 1px 1px 1px 1px var(--very-light-gray);
    display: flex;
    padding: 0.2rem;

    button {
        background-color: unset;
        border: 0px;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 5px;

        ul, ol {
        margin-bottom: 0px;
        padding-left: 17px;
        }

        &:hover {
        background-color: lightgray;
        }

        &.is-active {
        background-color: var(--success-light);

        &:hover {
            background-color: #76cc76;
        }
        }
    }
}

.btn-custom-green {
    background-color: var(--success-light) !important;
    color: black !important;
}

.alert-text-warning {
    color: crimson;
    font-weight: bold;
}

.alert-text-ok {
    color: var(--success-dark);
    font-weight: bold;
}

.alert-text-description {
    font-weight: normal;
    font-style: italic;
}

.pc-image-container, .pc-image-container-preview {
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.pc-image-container {
    width: fit-content;
    max-width: 700px;
    max-height: 700px;
}

.pc-image-container-preview {
    width: 150px;
    max-height: 300px;
}

.multi-item-form-field {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: var(--very-light-gray);
}

.multi-item-form-group {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

/* Overrides */
.inline {
    display: inline !important;
}

.center {
    margin: auto;
    text-align: center !important;
}

.float-right {
    float: right;
}

.fit-content {
    width: fit-content;
}

.margin-auto {
    margin: auto;
}

.max-width-800 {
    width: 90%;
    max-width: 900px;
}

.gray-bg {
    background-color: darkgray;
    color: black;
}

.light-gray-bg {
    background-color: var(--very-light-gray) !important;
    color: black;
}

.light-purple-bg {
    background-color: var(--light-purple) !important;
    color: black;
}

.bold {
    font-weight: bold;
}

.no-padding {
    padding: 0px !important;
}

.white-bg {
    background-color: white;
}

.small-text {
    font-size: small;
}

.medium-text {
    font-size: medium;
}

.large-text {
    font-size: large;
}

.prepare-text {
    padding-left: 0px;
    padding-right: 0px;
}

.gray-text {
    font-style: italic;
    color: var(--dark-gray);
    font-weight: normal;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

.flip-horizontal {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.flip-vertical {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.up-arrow, .down-arrow, .symbol {
    font-family: "Lexend Zetta", serif;
    font-optical-sizing: auto;
    font-style: normal;
}